.navbar.navbar-fixed-top
  .navbar-inner
    .containerone
      a.brand(href="home")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="home") Home
          li
            a(href="#artists") Artists
          li
            a(href="#users") Users
          li
            a(href="archive") Archive
          li
            a(href="#shows") Shows
          li
            a(href="#board") About  
.containertwo
 .row
    .span3
    .span4.classone    
      h2 Welcome to bandCast<br />
      h3 A better way to listen
    .span4.classtwo  
    .span1
.containerthree
  .row
    .span1
    .span6
      #login        
            form(method='post')
                | Enter your name
                div
                    input(type='text', name='username')
                    input(type='submit', value='Log In')
    .span5
