.navbar.navbar-fixed-top
  .navbar-inner
    .containerone
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#news") News
          li
            a(href="#music") Music
          li
            a(href="#about") About
          li
            a(href="#archive") Archive
          li
            a(href="#board") Board
          li
            a(href="#contact") Contact            
.container
 .row
    .span9.classone
      h2 Welcome! <br />
      h3 Hell for the Company
      p dogd
      <div class="archivestuff span2">
      p Archive <br />
      |Shows <br />
      |Upcoming Dates <br />
      |No Dates Currently - Check Back Soon! <br />
      |10/15/2010 - National Underground, NYC <br />
      |Request Us In Your Town! <br />
      |Join The E-Mail List <br />
      </div>
    .span2.classtwo
      h3 our friends:
    
      .span1