.navbar-inner {
	color: red;
	background-color: red;
}

.navbar{ 
	color: red;
	}

.classone {
	margin: 5px;
	margin-color: #990000;
	opacity: .9;
	padding-bottom: 2%;
	padding-left: 40%;
	padding-top: 3%;
}


.classtwo {
	text-align: left
}
.archivestuff {
	border: solid black 1px;
	height: 200px;
	margin: 0px;
	top: 60px;
}

.containerthree {
	padding-left: 40%;
}